html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url("../skip.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-color: #95Db94;
}

.text{
    text-align: center;
    float: right;
    width: 500px;
    padding: 100px;
}

#start{
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}



/*
body, html{
    height: 100%;
    margin: 0;
    background-color: #95Db94;
}
*/

/*
.bg{
    background-image: url("../skip.jpg");

    height: 100%;
    width: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/