html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #95Db94;
}

.banner{
    position: relative;
    background-image: url("../veggie header.jpeg");
    background-repeat: no-repeat;
    height: 350px;
}

.banner .home{
    position: absolute;
    top: 75%;
    left: 55%;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 2px solid green;
    background-color: white;
    color: black
}

.home:hover{
    background-color: green;
    color: white;
}

.header{
    position: absolute;
    color: green;
    font-size: 100px;
    left: 300px;
    top: 100px;
}

